*{
    margin: 0;
    padding: 0;
}
body{
    position: fixed;
    height: 100vh;
    width: 100vw;
}
.canvas{
    position: absolute;
    top:4em;
    left: 50%;
    transform: translateX(-50%);
    height: 40em;
    width: 32em;
    display: flex;

}
.main{
    background-color: #222;
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
}
#js-not-enabled{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 1.5em;
}
.Instructions,.start,.mobile-instructions{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}
.Instructions{
    animation: fadeinout 2s linear;
    animation-fill-mode: forwards;
}
.start{
    animation: fadein 2s 7s linear;
    animation-fill-mode: forwards;
    visibility: hidden;
    cursor: pointer;
    overflow: hidden;
}
#scorebox{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2em;
    color: white;
    background-color: #222;
    padding: .2em 1em;
    border-radius: .2em;

}
.start:hover span{
    left: 100%;
}
.start>span{
    position: absolute;
    top: 100%;
    left: -100%;
    transform: translateY(-100%);
    height: 2px;
    width: 100%;
    transition: .4s;
    background-color: aliceblue;
}
.mobile-instructions{
    animation: fadeinout 2s 2s linear;
    animation-fill-mode: forwards;
    visibility: hidden;
}
.left,.right{
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    width: calc(50% - 1px);
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    visibility: hidden;
    animation: fadeinout 4s 4s linear;
    animation-fill-mode: forwards;
}
.right{
    left: 50%;
}

.grid{
    display: flex;
    float: left;
    border: 1px solid #444;
    width: calc(4em - 2px);
    height: calc(4em - 2px);    
    color: #555;
    justify-content: center;
    align-items: center;
}
.cell{
    position: absolute;
    float: left;
    height: 3.9em;
    width: 3.9em;
    overflow: hidden;
    margin: .05em;
    border-radius: 10%;

}

.r{
    background-color: rgb(233, 27, 27);

}
.g{
    background-color: rgb(10, 190, 10);

}
.b{
    background-color:rgb(45, 177, 230);

}
/*
.square{
    position: absolute;
    width: 8em;
    height: 8em;
    border-radius: .5em;
}
.line{
    position: absolute;
}
.vline{
    position: absolute;
    width: 4em;
}
.l{
    position: absolute;
    width: 8em;
}

.l div:nth-of-type(1),.l div:nth-of-type(2){
    margin-right: 2px;
}

.l90{
    position: absolute;
    width: 12em;
}
.l180{
    position: absolute;
    width: 8em;
}
.l180 div:nth-of-type(3),.l180 div:nth-of-type(4){
    margin-left: 4em;
}
.t{
    position: absolute;
    width: 12em;
    transform-origin: 4em;
    transform: rotate(90deg);
}
.t div:last-of-type{
    margin-left: 4em;
}
.t90{
    position: absolute;
    width: 12em;
}
.t90 div:first-of-type{
    margin-left: 4em;
    margin-right: 4em;
}*/

.fadein{
    animation: fadein 1s linear;
}
.fadeout{
    animation: fadeout 1s linear;
}


@keyframes fadein{
    from{ opacity: 0;visibility: visible; }
    to{ opacity: 1;visibility: visible; }
}
@keyframes fadeout{
    from{ opacity: 1; }
    to{ opacity: 0; }
}

@keyframes fadeinout{
    0%{opacity: 0;visibility: visible;}
    25%{opacity: 1;visibility: visible;}
    75%{opacity: 1;visibility: visible;}
    100%{opacity: 0;visibility: visible;}
}
